$lightGrey: #e7e9ee;
$lighterGrey: #f5f6f8;
$darkGrey: #B1B1B1;
$darkerGrey: #5d5d5d;


$primaryColor: #F0C346;
$secondaryColor: #161617;
$white: #ffffff;

$successColor: #00C853;
$warningColor: #FF6D00;
$errorColor: #D50000;