$lightGrey: #e7e9ee;
$lighterGrey: #f5f6f8;
$darkGrey: #B1B1B1;
$darkerGrey: #5d5d5d;

$white: #ffffff;

$primaryColor: #FFFE06;
$secondaryColor: #00798C;

$successColor: #00C853;
$warningColor: #FF6D00;
$errorColor: #D50000;